<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="tesb-studio-se" sequenceNumber="1521628368">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="biz.aQute.bndlib" version="2.4.0.201411031534"/>
      <unit id="bcprov" version="1.51.0"/>
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
      <unit id="javax.activation" version="1.1.0.v201211130549"/>
      <unit id="javax.activation.source" version="1.1.0.v201211130549"/>
      <unit id="javax.annotation" version="1.2.0.v201401042248"/>
      <unit id="javax.annotation.source" version="1.2.0.v201401042248"/>
      <unit id="javax.transaction" version="1.1.1.v201105210645"/>
      <unit id="javax.transaction.source" version="1.1.1.v201105210645"/>
      <unit id="javax.mail" version="1.4.0.v201005080615"/>
      <unit id="javax.wsdl" version="1.6.2.v201012040545"/>
      <unit id="javax.wsdl.source" version="1.6.2.v201012040545"/>
      <unit id="javax.xml.soap" version="1.3.0.v201105210645"/>
      <unit id="javax.xml.rpc" version="1.1.0.v201209140446"/>
      <unit id="net.jeeeyul.eclipse.themes" version="2.2.0.I20141210-114528"/>
      <unit id="net.jeeeyul.swtend" version="2.2.5.I20140918-144458"/>
      <unit id="org.antlr.runtime" version="3.0.0.v200803061811"/>
      <unit id="org.antlr.runtime.source" version="3.0.0.v200803061811"/>
      <unit id="org.apache.axis" version="1.4.0.v201005080400"/>
      <unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
      <unit id="org.apache.commons.beanutils.source" version="1.8.0.v201205091237"/>
      <unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
      <unit id="org.apache.commons.collections.source" version="3.2.0.v2013030210310"/>
      <unit id="org.apache.commons.discovery" version="0.2.0.v201004190315"/>
      <unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
      <unit id="org.apache.commons.httpclient.source" version="3.1.0.v201012070820"/>
      <unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
      <unit id="org.apache.commons.io.source" version="2.2.0.v201405211200"/>
      <unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
      <unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
      <unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
      <unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
      <unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
      <unit id="org.slf4j.impl.log4j12" version="1.7.2.v20131105-2200"/>
      <unit id="org.slf4j.impl.log4j12.source" version="1.7.2.v20131105-2200"/>
      <unit id="org.eclipse.aether.api" version="1.1.0"/>
      <unit id="org.eclipse.aether.connector.basic" version="1.1.0"/>
      <unit id="org.eclipse.aether.impl" version="1.1.0"/>
      <unit id="org.eclipse.aether.spi" version="1.1.0"/>
      <unit id="org.eclipse.aether.transport.file" version="1.1.0"/>
      <unit id="org.eclipse.aether.transport.http" version="1.1.0"/>
      <unit id="org.eclipse.aether.util" version="1.1.0"/>
      <unit id="org.eclipse.m2e.archetype.common" version="1.5.0.20140605-2032"/>
      <unit id="org.eclipse.m2e.core" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.core.source" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.core.ui" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.core.ui.source" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.jdt" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.jdt.source" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.launching" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.launching.source" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.maven.runtime" version="1.5.0.20140605-2032"/>
      <unit id="org.eclipse.m2e.maven.indexer" version="1.5.0.20140605-2032"/>
      <unit id="org.eclipse.m2e.maven.runtime.slf4j.simple" version="1.5.0.20140605-2032"/>
      <unit id="org.eclipse.m2e.model.edit" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.model.edit.source" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.editor" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.editor.source" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.editor.xml" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.editor.xml.source" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.refactoring" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.refactoring.source" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.lifecyclemapping.defaults" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.scm" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.scm.source" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.jdt.ui" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.jdt.ui.source" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.profiles.core" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.profiles.core.source" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.profiles.ui" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.profiles.ui.source" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.nebula.widgets.nattable.core" version="1.1.0.201405012245"/>
      <unit id="org.eclipse.nebula.widgets.nattable.core.source" version="1.1.0.201405012245"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists" version="1.1.0.201405012245"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source" version="1.1.0.201405012245"/>
      <unit id="org.eclipse.wst.internet.monitor.ui" version="1.0.700.v201309182039"/>
      <unit id="org.eclipse.wst.internet.monitor.ui.source" version="1.0.700.v201309182039"/>
      <unit id="org.eclipse.wst.wsdl" version="1.2.350.v201309242123"/>
      <unit id="org.eclipse.wst.wsdl.source" version="1.2.350.v201309242123"/>
      <unit id="org.eclipse.wst.wsdl.ui" version="1.2.650.v201309242123"/>
      <unit id="org.eclipse.wst.wsdl.ui.source" version="1.2.650.v201309242123"/>
      <unit id="org.eclipse.wst.xsd.ui" version="1.2.500.v201208081537"/>
      <unit id="org.eclipse.wst.xsd.ui.source" version="1.2.500.v201208081537"/>
      <unit id="org.eclipse.wst.wsdl.validation" version="1.1.650.v201309242123"/>
      <unit id="org.eclipse.wst.wsdl.validation.source" version="1.1.650.v201309242123"/>
      <unit id="org.eclipse.xsd" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.xsd.source" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.xsd.edit" version="2.7.0.v20140901-1055"/>
      <unit id="org.eclipse.xsd.edit.source" version="2.7.0.v20140901-1055"/>
      <unit id="org.eclipse.draw2d.feature.group" version="3.9.101.201408150207"/>
      <unit id="org.eclipse.draw2d.sdk.feature.group" version="3.9.101.201408150207"/>
      <unit id="org.eclipse.draw2d.source.feature.group" version="3.9.101.201408150207"/>
      <unit id="org.eclipse.e4.rcp.feature.group" version="1.3.100.v20140909-1633"/>
      <unit id="org.eclipse.e4.rcp.source.feature.group" version="1.3.100.v20140909-1633"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.1.0.v20140818-1747"/>
      <unit id="org.eclipse.ecf.core.source.feature.feature.group" version="1.1.0.v20140818-1747"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.0.0.v20140818-1747"/>
      <unit id="org.eclipse.ecf.core.ssl.source.feature.feature.group" version="1.0.0.v20140818-1747"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.9.0.v20140818-1747"/>
      <unit id="org.eclipse.ecf.filetransfer.source.feature.feature.group" version="3.9.0.v20140818-1747"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.9.1.v20140818-1747"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.source.feature.feature.group" version="3.9.1.v20140818-1747"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.0.0.v20140818-1747"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.source.feature.feature.group" version="1.0.0.v20140818-1747"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.0.0.v20140818-1747"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.source.feature.feature.group" version="1.0.0.v20140818-1747"/>
      <unit id="org.eclipse.emf.feature.group" version="2.10.1.v20140901-1055"/>
      <unit id="org.eclipse.emf.source.feature.group" version="2.10.1.v20140901-1055"/>
      <unit id="org.eclipse.emf.codegen.feature.group" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.codegen.source.feature.group" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.10.1.v20140901-1055"/>
      <unit id="org.eclipse.emf.codegen.ecore.source.feature.group" version="2.10.1.v20140901-1055"/>
      <unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.codegen.ecore.ui.source.feature.group" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.codegen.ui.feature.group" version="2.8.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.codegen.ui.source.feature.group" version="2.8.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.10.1.v20140901-1043"/>
      <unit id="org.eclipse.emf.common.ui.feature.group" version="2.9.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.common.ui.source.feature.group" version="2.9.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.converter.feature.group" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.converter.source.feature.group" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.databinding.feature.group" version="1.4.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.databinding.source.feature.group" version="1.4.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.4.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.databinding.edit.source.feature.group" version="1.4.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.10.1.v20140901-1043"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.9.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.ecore.edit.source.feature.group" version="2.9.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.ecore.editor.feature.group" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.ecore.editor.source.feature.group" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="2.10.1.v20140901-1055"/>
      <unit id="org.eclipse.emf.edit.source.feature.group" version="2.10.1.v20140901-1055"/>
      <unit id="org.eclipse.emf.edit.ui.feature.group" version="2.10.1.v20140901-1055"/>
      <unit id="org.eclipse.emf.edit.ui.source.feature.group" version="2.10.1.v20140901-1055"/>
      <unit id="org.eclipse.emf.mapping.feature.group" version="2.8.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.mapping.source.feature.group" version="2.8.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.mapping.ecore.feature.group" version="2.8.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.mapping.ecore.source.feature.group" version="2.8.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.mapping.ecore.editor.feature.group" version="2.9.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.mapping.ecore.editor.source.feature.group" version="2.9.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.mapping.ui.feature.group" version="2.8.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.mapping.ui.source.feature.group" version="2.8.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.transaction.source.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.validation.feature.group" version="1.8.0.201405281429"/>
      <unit id="org.eclipse.emf.validation.source.feature.group" version="1.8.0.201405281429"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.workspace.source.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.3.0.v20140523-0116"/>
      <unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="1.3.0.v20140523-0116"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.2.0.v20140911-0143"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.source.feature.group" version="1.2.0.v20140911-0143"/>
      <unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.2.0.v20140523-0116"/>
      <unit id="org.eclipse.equinox.p2.rcp.feature.source.feature.group" version="1.2.0.v20140523-0116"/>
      <unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.2.0.v20140911-0143"/>
      <unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="2.2.0.v20140911-0143"/>
      <unit id="org.eclipse.gef.feature.group" version="3.9.101.201408150207"/>
      <unit id="org.eclipse.gef.source.feature.group" version="3.9.101.201408150207"/>
      <unit id="org.eclipse.gmf.feature.group" version="1.8.1.201408201453"/>
      <unit id="org.eclipse.gmf.source.feature.group" version="1.8.1.201408201453"/>
      <unit id="org.eclipse.gmf.runtime.notation.feature.group" version="1.8.0.201405281433"/>
      <unit id="org.eclipse.gmf.runtime.notation.source.feature.group" version="1.8.0.201405281433"/>
      <unit id="org.eclipse.gmf.runtime.thirdparty.feature.group" version="1.8.0.201408201453"/>
      <unit id="org.eclipse.gmf.runtime.thirdparty.source.feature.group" version="1.8.0.201408201453"/>
      <unit id="org.eclipse.help.feature.group" version="2.0.102.v20140925-0400"/>
      <unit id="org.eclipse.help.source.feature.group" version="2.0.102.v20140925-0400"/>
      <unit id="org.eclipse.m2m.atl.feature.group" version="3.5.0.v201405260755"/>
      <unit id="org.eclipse.m2m.atl.sdk.feature.group" version="3.5.0.v201405260755"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.4.0.v20140925-0400"/>
      <unit id="org.eclipse.rcp.source.feature.group" version="4.4.0.v20140925-0400"/>
      <unit id="org.eclipse.wst.common_core.feature.feature.group" version="3.6.3.v201501292352"/>
      <unit id="org.eclipse.wst.common_core.feature.source.feature.group" version="3.6.3.v201501292352"/>
      <unit id="org.eclipse.wst.common.fproj.feature.group" version="3.6.1.v201409111446"/>
      <unit id="org.eclipse.wst.common.fproj.sdk.feature.group" version="3.6.1.v201409111448"/>
      <unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.6.3.v201501211904"/>
      <unit id="org.eclipse.wst.xml_core.feature.source.feature.group" version="3.6.3.v201501211904"/>
      <unit id="org.eclipse.wst.server_core.feature.feature.group" version="3.3.400.v201405011426"/>
      <unit id="org.eclipse.wst.ws_ui.feature.feature.group" version="3.6.3.v201501292352"/>
      <unit id="org.eclipse.wst.ws_ui.feature.source.feature.group" version="3.6.3.v201501292352"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.4.0.v20140925-0400"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.1.201402241301"/>
      <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.2.1.201402241301"/>
      <unit id="org.hamcrest.library" version="1.3.0.v201305281000"/>
      <repository location="https://artifacts-oss.talend.com/nexus/content/unzip/TalendP2UnzipOpenSourceSnapshot/org/talend/repo/talend-eclipse-p2-repo/6.5.0-SNAPSHOT/talend-eclipse-p2-repo-6.5.0-SNAPSHOT.zip-unzip"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.codehaus.groovy" version="2.4.300.xx-201509250011-e44"/>
      <unit id="org.eclipse.jdt.groovy.core" version="2.9.2.xx-201509250011-e44"/>
      <unit id="org.eclipse.jdt.core" version="3.10.0.xx-201509250011-e44"/>
      <unit id="org.eclipse.ui.views.properties.tabbed" version="3.6.100.v20140519-0906"/>
      <repository location="https://artifacts-oss.talend.com/nexus/content/unzip/TalendP2UnzipOpenSourceRelease/org/talend/repo/bonita-community-p2-repo/7.2.3a/bonita-community-p2-repo-7.2.3a.zip-unzip"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.talend.help" version="7.0.1.20180319_2101"/>
      <unit id="org.talend.esb.help" version="7.0.1.20180319_2101"/>
      <unit id="org.talend.help.azurestorage" version="7.0.1.20180319_2101"/>
      <unit id="org.talend.help.jira" version="7.0.1.20180319_2101"/>
      <unit id="org.talend.help.marketo" version="7.0.1.20180319_2101"/>
      <unit id="org.talend.help.salesforce" version="7.0.1.20180319_2101"/>
      <unit id="org.talend.help.snowflake" version="7.0.1.20180319_2101"/>
      <unit id="org.talend.help.splunk" version="7.0.1.20180319_2101"/>
      <unit id="org.talend.help.filedelimited" version="7.0.1.20180319_2101"/>
      <unit id="org.talend.help.filterrow" version="7.0.1.20180319_2101"/>
      <unit id="org.talend.help.jdbc" version="7.0.1.20180319_2101"/>
      <repository location="https://artifacts-oss.talend.com/nexus/content/unzip/TalendP2UnzipOpenSourceSnapshot/org/talend/repo/talend-doc-p2-repo/7.0.1-SNAPSHOT/talend-doc-p2-repo-7.0.1-SNAPSHOT.zip-unzip"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="biz.aQute.bnd.annotation" version="2.4.0.201411031537"/>
      <unit id="com.cedarsoftware.json-io" version="4.9.9.SNAPSHOT"/>
      <unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.9.0"/>
      <unit id="com.fasterxml.jackson.core.jackson-core" version="2.9.4"/>
      <unit id="com.thoughtworks.paranamer" version="2.8.0"/>
      <unit id="jackson-core-asl" version="1.9.14.TALEND"/>
      <unit id="jackson-mapper-asl" version="1.9.14.TALEND"/>
      <unit id="joda-time" version="2.8.2"/>
      <unit id="org.apache.commons.compress" version="1.10.0"/>
      <unit id="org.apache.commons.lang3" version="3.4.0"/>
      <unit id="org.apache.commons.logging" version="1.2.0"/>
      <unit id="org.apache.servicemix.bundles.avro" version="1.8.2.1"/>
      <unit id="org.ops4j.pax.url.mvn" version="2.4.5.Talend"/>
      <unit id="org.talend.daikon" version="0.23.0.SNAPSHOT"/>
      <unit id="org.talend.components.api" version="0.22.0.SNAPSHOT"/>
      <unit id="org.talend.components.api.service.osgi" version="0.22.0.SNAPSHOT"/>
      <unit id="org.talend.components.azurestorage" version="0.22.0.SNAPSHOT"/>
      <unit id="org.talend.components.common" version="0.22.0.SNAPSHOT"/>
      <unit id="org.talend.components.common-oauth" version="0.22.0.SNAPSHOT"/>
      <unit id="org.talend.components.googledrive" version="0.22.0.SNAPSHOT"/>
      <unit id="org.talend.components.jdbc.definition" version="0.22.0.SNAPSHOT"/>
      <unit id="org.talend.components.jira" version="0.22.0.SNAPSHOT"/>
      <unit id="org.talend.components.marketo" version="0.22.0.SNAPSHOT"/>
      <unit id="org.talend.components.netsuite" version="0.22.0.SNAPSHOT"/>
      <unit id="org.talend.components.salesforce.definition" version="0.22.0.SNAPSHOT"/>
      <unit id="org.talend.components.snowflake" version="0.22.0.SNAPSHOT"/>
      <unit id="org.talend.components.splunk" version="0.22.0.SNAPSHOT"/>
      <repository location="https://artifacts-oss.talend.com/nexus/content/unzip/TalendP2UnzipOpenSourceSnapshot/org/talend/repo/dependencies.p2.tos/7.0.1-SNAPSHOT/dependencies.p2.tos-7.0.1-SNAPSHOT.zip-unzip"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
