<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="tup-studio-ee" sequenceNumber="1523623118">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="biz.aQute.bnd.annotation" version="2.4.0.201411031537"/>
      <unit id="com.cedarsoftware.json-io" version="4.9.9.SNAPSHOT"/>
      <unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.9.0"/>
      <unit id="com.fasterxml.jackson.core.jackson-core" version="2.9.4"/>
      <unit id="com.thoughtworks.paranamer" version="2.8.0"/>
      <unit id="jackson-core-asl" version="1.9.14.TALEND"/>
      <unit id="jackson-mapper-asl" version="1.9.14.TALEND"/>
      <unit id="joda-time" version="2.8.2"/>
      <unit id="org.apache.commons.compress" version="1.10.0"/>
      <unit id="org.apache.commons.lang3" version="3.4.0"/>
      <unit id="org.apache.commons.logging" version="1.2.0"/>
      <unit id="org.apache.servicemix.bundles.avro" version="1.8.2.1"/>
      <unit id="org.ops4j.pax.url.mvn" version="2.4.6.Talend"/>
      <unit id="org.talend.daikon" version="0.23.0"/>
      <unit id="org.talend.components.api" version="0.23.0"/>
      <unit id="org.talend.components.api.service.osgi" version="0.23.0"/>
      <unit id="org.talend.components.azurestorage" version="0.23.0"/>
      <unit id="org.talend.components.common" version="0.23.0"/>
      <unit id="org.talend.components.common-oauth" version="0.23.0"/>
      <unit id="org.talend.components.googledrive" version="0.23.0"/>
      <unit id="org.talend.components.jdbc.definition" version="0.23.0"/>
      <unit id="org.talend.components.jira" version="0.23.0"/>
      <unit id="org.talend.components.marketo" version="0.23.0"/>
      <unit id="org.talend.components.netsuite" version="0.23.0"/>
      <unit id="org.talend.components.salesforce.definition" version="0.23.0"/>
      <unit id="org.talend.components.snowflake" version="0.23.0"/>
      <unit id="org.talend.components.splunk" version="0.23.0"/>
      <repository id="tos-deps" location="https://artifacts-oss.talend.com/nexus/content/unzip/TalendP2UnzipOpenSourceSnapshot/org/talend/repo/dependencies.p2.tos/7.0.1-SNAPSHOT/dependencies.p2.tos-7.0.1-SNAPSHOT.zip-unzip"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.oaklandsw.transform.feature.product7ide.feature.group" version="7.0.1.20180402_1933-SNAPSHOT"/>
      <unit id="com.oaklandsw.transform.feature.product7talend.feature.group" version="7.0.1.20180402_1933-SNAPSHOT"/>
      <repository id="talend_enterprise_tdm_repo" location="https://artifacts-zl.talend.com/nexus/content/unzip/TalendP2UnzipSnapshot/org/talend/transform/org.talend.transform.p2.repository.ide/7.0.1-SNAPSHOT/org.talend.transform.p2.repository.ide-7.0.1-SNAPSHOT.zip-unzip"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.talend.transform.feature.spark.feature.group" version="7.0.1.20180402_1933-SNAPSHOT"/>
      <repository id="talend_enterprise_tdm_spark_repo" location="https://artifacts-zl.talend.com/nexus/content/unzip/TalendP2UnzipSnapshot/org/talend/transform/org.talend.transform.spark.p2.repository.ide/7.0.1-SNAPSHOT/org.talend.transform.spark.p2.repository.ide-7.0.1-SNAPSHOT.zip-unzip"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.egit.feature.group" version="4.6.0.201612231935-r"/>
      <unit id="org.eclipse.jgit.feature.group" version="4.6.0.201612231935-r"/>
      <unit id="org.eclipse.xsd.feature.group" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.xsd.edit.feature.group" version="2.8.0.v20140901-1055"/>
      <unit id="org.eclipse.wst.jsdt.feature.feature.group" version="1.6.100.v201409111605"/>
      <unit id="org.eclipse.emf.mwe.core.feature.group" version="1.3.4.v201409021027"/>
      <unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.6.1.v201409112028"/>
      <unit id="org.deved.antlride.antlr" version="3.2.0.201108281759"/>
      <unit id="org.deved.antlride.core" version="2.1.2.201108281759"/>
      <unit id="org.deved.antlride.common.ui" version="2.1.2.201108281759"/>
      <unit id="org.apache.commons.pool" version="1.6.0.v201204271246"/>
      <unit id="com.google.inject" version="3.0.0.v201312141243"/>
      <unit id="net.sourceforge.lpg.lpgjavaruntime" version="1.1.0.v201004271650"/>
      <unit id="org.mortbay.jetty.server" version="6.1.23.v201012071420"/>
      <unit id="org.mortbay.jetty.util" version="6.1.23.v201012071420"/>
      <unit id="java_cup.runtime" version="0.10.0.v201005080400"/>
      <unit id="org.aopalliance" version="1.0.0.v201105210816"/>
      <unit id="org.apache.commons.jxpath" version="1.3.0.v200911051830"/>
      <unit id="lpg.runtime.java" version="2.0.17.v201004271640"/>
      <unit id="org.eclipse.emf.compare" version="3.1.1.201408191310"/>
      <unit id="org.eclipse.emf.compare.edit" version="4.0.0.201408191310"/>
      <unit id="org.eclipse.emf.compare.rcp" version="2.2.0.201408191310"/>
      <unit id="org.eclipse.emf.compare.rcp.ui" version="4.0.1.201408191310"/>
      <unit id="org.eclipse.emf.compare.ide" version="3.1.1.201408191310"/>
      <unit id="org.eclipse.emf.compare.ide.ui" version="4.0.1.201408191310"/>
      <unit id="org.eclipse.emf.mwe.core" version="1.3.4.v201409021027"/>
      <unit id="org.eclipse.emf.mwe.utils" version="1.3.4.v201409021027"/>
      <unit id="org.eclipse.emf.mwe2.runtime" version="2.7.0.v201409021027"/>
      <unit id="org.eclipse.emf.mwe2.lib" version="2.7.0.v201409021027"/>
      <unit id="org.eclipse.emf.query2.core" version="1.0.0.201206090003"/>
      <unit id="org.eclipse.emf.query2.index" version="1.0.0.201206090003"/>
      <unit id="org.eclipse.emf.query2.stringsyntax" version="1.0.0.201206090003"/>
      <unit id="org.eclipse.equinox.concurrent" version="1.1.0.v20130327-1442"/>
      <unit id="org.eclipse.xtend.lib.macro" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtend.lib" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtext" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtext.builder" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtext.common.types.ui" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtext.common.types" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtext.common.types.edit" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtext.ecore" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtext.logging" version="1.2.15.v201411190455"/>
      <unit id="org.eclipse.xtext.smap" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtext.ui" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtext.ui.shared" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtext.util" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtext.xbase.lib" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.dltk.core.manipulation" version="3.0.0.v20110609-1525"/>
      <unit id="org.eclipse.dltk.core" version="3.0.1.v20110823"/>
      <unit id="org.eclipse.dltk.debug" version="3.0.1.v20110824"/>
      <unit id="org.eclipse.dltk.formatter" version="3.0.0.v20110609-1525"/>
      <unit id="org.eclipse.dltk.launching" version="3.0.0.v20110423"/>
      <unit id="org.eclipse.dltk.ui" version="3.0.1.v20110823"/>
      <unit id="org.eclipse.update.core" version="3.2.700.v20140518-1928"/>
      <unit id="org.eclipse.nebula.widgets.pagination" version="1.0.0.201607202302"/>
      <unit id="org.eclipse.nebula.widgets.tablecombo" version="1.0.0.201605312033"/>
      <unit id="org.eclipse.emf.eef.runtime" version="1.3.0.201311221533"/>
      <unit id="org.eclipse.graphiti" version="0.11.1.v20140903-1228"/>
      <unit id="org.eclipse.graphiti.mm" version="0.11.1.v20140903-1228"/>
      <unit id="org.eclipse.graphiti.pattern" version="0.11.1.v20140903-1228"/>
      <unit id="org.eclipse.graphiti.export.batik" version="0.11.1.v20140903-1228"/>
      <unit id="org.eclipse.graphiti.ui.capabilities" version="0.11.1.v20140903-1228"/>
      <unit id="org.eclipse.graphiti.ui" version="0.11.1.v20140903-1228"/>
      <unit id="org.eclipse.nebula.widgets.gallery" version="1.0.0.201605312033"/>
      <unit id="org.eclipse.wst.xml.xpath.core" version="1.3.0.v201108312022"/>
      <unit id="org.eclipse.wst.xml.xpath.ui" version="1.1.101.v201204252215"/>
      <unit id="org.eclipse.wst.xml.xpath2.processor" version="2.1.101.v201409111854"/>
      <unit id="org.eclipse.wst.xml.xpath2.wtptypes" version="2.0.0.v201208081543"/>
      <unit id="org.eclipse.wst.xsl.core" version="1.1.301.v201405151730"/>
      <unit id="org.eclipse.wst.xsl.ui" version="1.1.301.v201304222136"/>
      <unit id="biz.aQute.bndlib" version="2.4.0.201411031534"/>
      <unit id="bcprov" version="1.51.0"/>
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <unit id="javax.activation" version="1.1.0.v201211130549"/>
      <unit id="javax.annotation" version="1.2.0.v201401042248"/>
      <unit id="javax.transaction" version="1.1.1.v201105210645"/>
      <unit id="javax.mail" version="1.4.0.v201005080615"/>
      <unit id="javax.wsdl" version="1.6.2.v201012040545"/>
      <unit id="javax.xml.soap" version="1.3.0.v201105210645"/>
      <unit id="javax.xml.rpc" version="1.1.0.v201209140446"/>
      <unit id="net.jeeeyul.eclipse.themes" version="2.2.0.I20141210-114528"/>
      <unit id="net.jeeeyul.swtend" version="2.2.5.I20140918-144458"/>
      <unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
      <unit id="org.apache.axis" version="1.4.0.v201005080400"/>
      <unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
      <unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
      <unit id="org.apache.commons.discovery" version="0.2.0.v201004190315"/>
      <unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
      <unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
      <unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
      <unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
      <unit id="org.slf4j.impl.log4j12" version="1.7.2.v20131105-2200"/>
      <unit id="org.eclipse.aether.api" version="1.1.0"/>
      <unit id="org.eclipse.aether.connector.basic" version="1.1.0"/>
      <unit id="org.eclipse.aether.impl" version="1.1.0"/>
      <unit id="org.eclipse.aether.spi" version="1.1.0"/>
      <unit id="org.eclipse.aether.transport.file" version="1.1.0"/>
      <unit id="org.eclipse.aether.transport.http" version="1.1.0"/>
      <unit id="org.eclipse.aether.util" version="1.1.0"/>
      <unit id="org.eclipse.m2e.archetype.common" version="1.5.0.20140605-2032"/>
      <unit id="org.eclipse.m2e.core" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.core.ui" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.jdt" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.launching" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.maven.runtime" version="1.5.0.20140605-2032"/>
      <unit id="org.eclipse.m2e.maven.indexer" version="1.5.0.20140605-2032"/>
      <unit id="org.eclipse.m2e.maven.runtime.slf4j.simple" version="1.5.0.20140605-2032"/>
      <unit id="org.eclipse.m2e.model.edit" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.editor" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.editor.xml" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.refactoring" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.lifecyclemapping.defaults" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.scm" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.jdt.ui" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.profiles.core" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.m2e.profiles.ui" version="1.5.0.20140606-0033"/>
      <unit id="org.eclipse.nebula.widgets.nattable.core" version="1.1.0.201405012245"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists" version="1.1.0.201405012245"/>
      <unit id="org.eclipse.wst.internet.monitor.ui" version="1.0.700.v201309182039"/>
      <unit id="org.eclipse.wst.wsdl" version="1.2.350.v201309242123"/>
      <unit id="org.eclipse.wst.wsdl.ui" version="1.2.650.v201309242123"/>
      <unit id="org.eclipse.wst.xsd.ui" version="1.2.500.v201208081537"/>
      <unit id="org.eclipse.wst.wsdl.validation" version="1.1.650.v201309242123"/>
      <unit id="org.eclipse.xsd" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.xsd.edit" version="2.7.0.v20140901-1055"/>
      <unit id="org.eclipse.draw2d.feature.group" version="3.9.101.201408150207"/>
      <unit id="org.eclipse.draw2d.sdk.feature.group" version="3.9.101.201408150207"/>
      <unit id="org.eclipse.e4.rcp.feature.group" version="1.3.100.v20140909-1633"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.1.0.v20140818-1747"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.0.0.v20140818-1747"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.9.0.v20140818-1747"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.9.1.v20140818-1747"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.0.0.v20140818-1747"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.0.0.v20140818-1747"/>
      <unit id="org.eclipse.emf.feature.group" version="2.10.1.v20140901-1055"/>
      <unit id="org.eclipse.emf.codegen.feature.group" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.10.1.v20140901-1055"/>
      <unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.codegen.ui.feature.group" version="2.8.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.10.1.v20140901-1043"/>
      <unit id="org.eclipse.emf.common.ui.feature.group" version="2.9.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.converter.feature.group" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.databinding.feature.group" version="1.4.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.4.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.10.1.v20140901-1043"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.9.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.ecore.editor.feature.group" version="2.10.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="2.10.1.v20140901-1055"/>
      <unit id="org.eclipse.emf.edit.ui.feature.group" version="2.10.1.v20140901-1055"/>
      <unit id="org.eclipse.emf.mapping.feature.group" version="2.8.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.mapping.ecore.feature.group" version="2.8.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.mapping.ecore.editor.feature.group" version="2.9.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.mapping.ui.feature.group" version="2.8.0.v20140901-1055"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.validation.feature.group" version="1.8.0.201405281429"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.3.0.v20140523-0116"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.2.0.v20140911-0143"/>
      <unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.2.0.v20140523-0116"/>
      <unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.2.0.v20140911-0143"/>
      <unit id="org.eclipse.gef.feature.group" version="3.9.101.201408150207"/>
      <unit id="org.eclipse.gmf.feature.group" version="1.8.1.201408201453"/>
      <unit id="org.eclipse.gmf.runtime.notation.feature.group" version="1.8.0.201405281433"/>
      <unit id="org.eclipse.gmf.runtime.thirdparty.feature.group" version="1.8.0.201408201453"/>
      <unit id="org.eclipse.help.feature.group" version="2.0.102.v20140925-0400"/>
      <unit id="org.eclipse.m2m.atl.feature.group" version="3.5.0.v201405260755"/>
      <unit id="org.eclipse.m2m.atl.sdk.feature.group" version="3.5.0.v201405260755"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.4.0.v20140925-0400"/>
      <unit id="org.eclipse.wst.common_core.feature.feature.group" version="3.6.3.v201501292352"/>
      <unit id="org.eclipse.wst.common.fproj.feature.group" version="3.6.1.v201409111446"/>
      <unit id="org.eclipse.wst.common.fproj.sdk.feature.group" version="3.6.1.v201409111448"/>
      <unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.6.3.v201501211904"/>
      <unit id="org.eclipse.wst.server_core.feature.feature.group" version="3.3.400.v201405011426"/>
      <unit id="org.eclipse.wst.ws_ui.feature.feature.group" version="3.6.3.v201501292352"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.4.0.v20140925-0400"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.1.201402241301"/>
      <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.2.1.201402241301"/>
      <unit id="org.hamcrest.library" version="1.3.0.v201305281000"/>
      <repository id="eclipse_repo" location="https://artifacts-oss.talend.com/nexus/content/unzip/TalendP2UnzipOpenSourceSnapshot/org/talend/repo/talend-eclipse-p2-repo/6.5.0-SNAPSHOT/talend-eclipse-p2-repo-6.5.0-SNAPSHOT.zip-unzip"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="avro" version="1.7.7"/>
      <unit id="org.liveSense.fragment.sun.misc" version="1.0.5"/>
      <unit id="com.fasterxml.jackson.core.jackson-databind" version="2.9.4"/>
      <unit id="org.apache.commons.configuration" version="1.10.0"/>
      <unit id="org.apache.commons.codec" version="1.10.0"/>
      <unit id="org.talend.components.hadoopcluster.definition" version="0.23.0"/>
      <unit id="org.talend.components.couchbase" version="0.23.0"/>
      <unit id="org.talend.components.marklogic.definition" version="0.23.0"/>
      <unit id="org.talend.components.dataprep" version="0.23.0"/>
      <unit id="org.talend.components.datastewardship" version="0.23.0"/>
      <unit id="org.talend.daikon.multitenant-core" version="0.23.0"/>
      <unit id="org.talend.dataquality.common" version="5.0.2.SNAPSHOT"/>
      <unit id="org.talend.dataquality.standardization" version="5.0.2.SNAPSHOT"/>
      <unit id="org.talend.dataquality.record.linkage" version="5.0.2.SNAPSHOT"/>
      <unit id="org.talend.dataquality.sampling" version="5.0.2.SNAPSHOT"/>
      <unit id="org.talend.dataquality.statistics" version="5.0.2.SNAPSHOT"/>
      <unit id="org.talend.dataquality.semantic" version="5.0.2.SNAPSHOT"/>
      <unit id="org.talend.dataquality.semantic.model" version="5.0.2.SNAPSHOT"/>
      <unit id="org.talend.dataquality.wordnet" version="5.0.2.SNAPSHOT"/>
      <unit id="org.talend.dataquality.email" version="5.0.2.SNAPSHOT"/>
      <unit id="org.talend.dataquality.survivorship" version="5.0.2.SNAPSHOT"/>
      <repository id="talend_p2" location="https://artifacts-zl.talend.com/nexus/content/unzip/TalendP2UnzipSnapshot/org/talend/studio/talend-tup-p2-repo/7.0.1-SNAPSHOT/talend-tup-p2-repo-7.0.1-SNAPSHOT.zip-unzip"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.talend.help.couchbase" version="7.0.1.20180410_1336"/>
      <unit id="org.talend.help.dataprep" version="7.0.1.20180410_1336"/>
      <unit id="org.talend.help.datastewardship" version="7.0.1.20180410_1336"/>
      <unit id="org.talend.help.googledrive" version="7.0.1.20180410_1336"/>
      <unit id="org.talend.help" version="7.0.1.20180410_1336"/>
      <unit id="org.talend.esb.help" version="7.0.1.20180410_1336"/>
      <unit id="org.talend.help.azurestorage" version="7.0.1.20180410_1336"/>
      <unit id="org.talend.help.jira" version="7.0.1.20180410_1336"/>
      <unit id="org.talend.help.marketo" version="7.0.1.20180410_1336"/>
      <unit id="org.talend.help.salesforce" version="7.0.1.20180410_1336"/>
      <unit id="org.talend.help.snowflake" version="7.0.1.20180410_1336"/>
      <unit id="org.talend.help.splunk" version="7.0.1.20180410_1336"/>
      <unit id="org.talend.help.filedelimited" version="7.0.1.20180410_1336"/>
      <unit id="org.talend.help.filterrow" version="7.0.1.20180410_1336"/>
      <unit id="org.talend.help.jdbc" version="7.0.1.20180410_1336"/>
      <repository id="doc_repo" location="https://artifacts-oss.talend.com/nexus/content/unzip/TalendP2UnzipOpenSourceSnapshot/org/talend/repo/talend-doc-p2-repo/7.0.1-SNAPSHOT/talend-doc-p2-repo-7.0.1-SNAPSHOT.zip-unzip"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="platform-specific-feature.feature.group" version="7.2.3.201604291519"/>
      <unit id="studio-feature.feature.group" version="7.2.3.201604291519"/>
      <unit id="org.eclipse.m2m.qvt.oml.runtime.feature.group" version="3.4.0.v20140610-1621"/>
      <unit id="org.eclipse.m2m.qvt.oml.feature.group" version="3.4.0.v20140610-1621"/>
      <unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-csv" version="2.4.4"/>
      <unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-smile" version="2.4.4"/>
      <unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-xml" version="2.4.4"/>
      <unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml" version="2.4.4"/>
      <unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="2.4.4"/>
      <unit id="com.sun.syndication" version="0.9.0.v200803061811"/>
      <unit id="javax.persistence" version="2.1.0.v201304241213"/>
      <unit id="org.jdom" version="1.0.0.v201005080400"/>
      <unit id="org.json" version="1.0.0.v201011060100"/>
      <unit id="org.mockito" version="1.10.19"/>
      <unit id="org.restlet.ext.jackson" version="2.3.0.v20141217-1730"/>
      <unit id="org.restlet.ext.json" version="2.3.0.v20141217-1730"/>
      <unit id="org.restlet" version="2.3.0.v20141217-1730"/>
      <unit id="stax2-api" version="3.1.4"/>
      <unit id="org.bonitasoft.studio.console.libs" version="7.2.3.201604291519"/>
      <unit id="org.bonitasoft.studio.designer.war" version="7.2.3.201604291519"/>
      <unit id="org.bonitasoft.studio.pics.bonitasoft" version="7.2.3.201604291519"/>
      <unit id="org.bonitasoft.studio.properties.bos" version="7.2.3.201604291519"/>
      <unit id="org.bonitasoft.studio.repository.themes.bonitasoft" version="7.2.3.201604291519"/>
      <unit id="org.codehaus.groovy.eclipse.codeassist.completion" version="2.9.2.xx-201509250011-e44"/>
      <unit id="org.codehaus.groovy.eclipse.codebrowsing" version="2.9.2.xx-201509250011-e44"/>
      <unit id="org.codehaus.groovy.eclipse.compilerResolver" version="2.9.2.xx-201509250011-e44"/>
      <unit id="org.codehaus.groovy.eclipse.core" version="2.9.2.xx-201509250011-e44"/>
      <unit id="org.codehaus.groovy.eclipse.quickfix" version="2.9.2.xx-201509250011-e44"/>
      <unit id="org.codehaus.groovy.eclipse.refactoring" version="2.9.2.xx-201509250011-e44"/>
      <unit id="org.codehaus.groovy.eclipse.ui" version="2.9.2.xx-201509250011-e44"/>
      <unit id="org.codehaus.groovy.eclipse" version="2.9.2.xx-201509250011-e44"/>
      <unit id="org.eclipse.ocl" version="3.4.2.v20140725-2242"/>
      <unit id="org.eclipse.ocl.ecore" version="3.3.100.v20140610-0641"/>
      <unit id="org.eclipse.ocl.common" version="1.2.0.v20140610-0641"/>
      <unit id="org.eclipse.gmf.tooling.runtime" version="3.2.0.201409171321"/>
      <unit id="org.eclipse.gmf.runtime.lite.svg" version="1.0.1.201604291514"/>
      <unit id="org.eclipse.emf.edapt.migration" version="1.0.1.201604291514"/>
      <unit id="org.eclipse.emf.edapt.declaration" version="1.0.1.201501181223"/>
      <unit id="org.eclipse.emf.edapt.history" version="1.0.1.201501181223"/>
      <unit id="org.eclipse.jst.common.project.facet.core" version="1.4.400.v201403261418"/>
      <unit id="org.eclipse.jst.server.core" version="1.2.400.v201309182039"/>
      <unit id="org.eclipse.jst.server.tomcat.core" version="1.1.600.v201405251701"/>
      <unit id="org.eclipse.xpand" version="2.0.0.v201406030414"/>
      <unit id="org.eclipse.xtend.typesystem.emf" version="2.0.0.v201406030414"/>
      <unit id="org.eclipse.xtend" version="2.0.0.v201406030414"/>
      <unit id="org.eclipse.xtext.generator" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtext.ui.codetemplates.ui" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtext.ui.codetemplates" version="2.7.3.v201411190455"/>
      <unit id="org.codehaus.groovy" version="2.4.300.xx-201509250011-e44"/>
      <unit id="org.eclipse.jdt.groovy.core" version="2.9.2.xx-201509250011-e44"/>
      <unit id="org.eclipse.jdt.core" version="3.10.0.xx-201509250011-e44"/>
      <unit id="org.eclipse.ui.views.properties.tabbed" version="3.6.100.v20140519-0906"/>
      <repository id="bonita_open_repo" location="https://artifacts-oss.talend.com/nexus/content/unzip/TalendP2UnzipOpenSourceRelease/org/talend/repo/bonita-community-p2-repo/7.2.3a/bonita-community-p2-repo-7.2.3a.zip-unzip"/>
    </location>
  </locations>
</target>
